/* Global baseline */
:root {
  font-family: var(
    --app-font,
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial
  );

  background: #ffffff;
  color: #111111;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: var(--app-font); */
  /* font-size: 16px; */
  background: #ffffff;
  color: #111827;
}

#app {
  min-height: 100%;
}

/* @font-face {
  font-family: "Jersey 25";
  src: url("/fonts/Jersey25-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Dark mode: global background and text */
@media (prefers-color-scheme: dark) {
  html,
  :root {
    background: #000000;
  }
  body {
    background: #000000;
    color: #e5e7eb;
  }
}
